#broadcasts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  flex-basis: 25%;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}


@media screen and (max-width: 1280px) {
  .item {
    flex-basis: 100%;
  }
}

a {
  color: black;
}

a:hover {
  color: cornflowerblue;
}
